{% extends "kanban/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>{{tablero}}</h1>
<div class="row">
{% for columna in tablero.columnas.all %}
<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{columna}}</h3>
        </div>
        <div class="panel-body column">
        {% for tarjeta in columna.tarjetas.all %}
           <div class="panel panel-primary portlet">
               <div class="panel-heading portlet-header">
                  <h3 class="panel-title">{{tarjeta.titulo}}</h3>
               </div>
               <div class="panel-body portlet-content">
                   {{tarjeta.descripcion}}
               </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'kanban/js/scripts.js' %}"></script>
{% endblock %}